@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(/assets/library.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}
#message{
    position: absolute;
    /* Rectangle 4 */
    width: 700px;
    height: 148px;
    left: 540px;
    top: 100px;
    background: rgba(217, 217, 217, 0.86);
    filter: blur(8px);
    border-radius: 45px;

}
p{
    position: relative;
    width: 800px;
    font-family: 'Aclonica', sans-serif;
    left: 590px;
    top: 150px;
}
button:hover{
    transform: scale3d(1.1,1.1,1.1);
    background-color: red;
    box-shadow: 2px 6px 5px 0px black;
}
button{
    position: absolute;
    width: 182px;
    height: 59px;
    margin-left: 1120px;
    margin-top: 150px;
    top: 450px;
    background: rgba(255, 0, 0, 0);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 30px;
    font-family: 'Anton',sans-serif;
}
#franklin{
    height: 300px;
    position: absolute;
    margin-left: 470px;
    margin-top: 250px;
}