@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Resetting default margins and paddings */
* {
    margin: 0px;
    padding: 0px;
}

/* Styling for the background */
body {
    background-image: url(./../assets/explanation\ page.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

/* Styling for the Franklin image */
#franklin{
    height: 300px;
    position: relative;
    top: 400px;
    left: 200px;
}

/* Styling for the message container */
#message {
    position: relative;
    left: 370px;
    bottom: 50px;
    width: 920px;
    height: 268px;
    background: rgba(217, 217, 217, 0.86);
    filter: blur(8px);
    border-radius: 45px;
}

/* Styling for the introduction text */
p {
    position: relative;
    bottom: 270px;
    left: 410px;
    width: 800px;
    font-family: 'Aclonica', sans-serif;
    margin-left: 20px;
    font-size: 18px;
}

/* Styling for the Start button */
button {
    position: absolute;
    width: 182px;
    height: 59px;
    left: 1220px;
    top: 650px;
    background: rgba(255, 0, 0, 0);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 20px;
    font-family: 'Anton', sans-serif;
}

/* Styling for Start button hover effect */
#start:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    background-color: red;
    box-shadow: 2px 6px 5px 0px black;
}

/* Initially, hide the elements */
p, img, #message, button {
    visibility: hidden;
}
@media screen and (max-width:900px) {
    body{
        background-size: 100% 100vh;
    }
    #franklin{
        height: 100px;
        top: 200px;
        left: 60px;
    }
    p{
        font-size: 8px;
        top: 35px;
        width: 360px;
        left: 140px;
    }
    #message{
        position: absolute;
        height: 120px;
        width: 430px;
        top: 120px;
        left: 120px;
        
    }
    button{
        font-size: 16px;
        top: 200px;
        position: absolute;
        top: 280px;
        left: 580px;
        background-color: red; /* Change background color */
        box-shadow: 2px 6px 5px 0px black; /* Add a shadow effect */
        height: 50px;
        width: 100px;
    }
}
