@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Aclonica&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(/assets/cave02-1024x683.png);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}
#franklin{
    height: 300px;
    position: absolute;
    margin-left: 900px;
    margin-top: 400px;
    transform: scaleX(-1);
}
button{
    position: absolute;
    width: 182px;
    height: 59px;
    margin-left: 1120px;
    margin-top: 250px;
    top: 350px;
    background: rgba(255, 0, 0, 0);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 30px;
    font-family: 'Anton',sans-serif;
    -webkit-text-stroke:0.5px rgb(162, 160, 160) ;
}
button:hover{
    transform: scale3d(1.1,1.1,1.1);
    background-color: red;
    box-shadow: 2px 6px 5px 0px black;
}
p{
    position: absolute;
    width: 660px;
    font-family: 'Aclonica', sans-serif;
   margin-top: 150px;
    margin-left: 20px;
    font-size: 16px;
    left: 260px;
    top: 140px;
}
#message{
    position: absolute;
    /* Rectangle 4 */

    width: 720px;
    height: 148px;
    left: 240px;
    top: 250px;
    background: rgba(217, 217, 217, 0.86);
    filter: blur(8px);
    border-radius: 45px;

}