@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(/assets/cave02-1024x683.png);
    background-repeat: no-repeat;
    background-size: 100% 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

button:hover{
        transform: scale3d(1.1,1.1,1.1);
        background-color: red;
        box-shadow: 2px 6px 5px 0px black;
}
button{
        position: absolute;
        width: 182px;
        height: 59px;
        top: 450px;
        background: rgba(255, 0, 0, 0);
        border-radius: 20px;
        border: none;
        color: white;
        -webkit-text-stroke: 0.5px rgb(166, 166, 166);
        font-size: 30px;
        font-family: 'Anton',sans-serif;
}
p{
    font-family: "Anton",sans-serif;
    color: white;
    font-size: 50px;
    margin-top: 100px;
}


