@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-image: url(./../assets/cave02-1024x683.png);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}
@media screen and (max-width: 900px) {
    oody{
        background-size: 100% 100vh;
    }
    .grid{
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(5, 1fr);
        gap: 5px; /* You can adjust the gap as needed */
        width: 50px; /* Set a fixed width for the grid */
        height: 50px; /* Set a fixed height for the grid */
        margin: 0 auto; /* Horizontal centering */
        position: absolute;
        left: 270px;
        top: 100px;
    }
    .tile{
        background-color: red;
        width: 30px;
        height: 30px;
        border-radius: 5px;
        border: 1px groove white;
    
    }
    p{
        color: white;
        font-family: 'Anton',sans-serif;
        font-size: 30px;
        margin-left: 580px;
        margin-right: 20px;
        margin-top: 30px;
     }
    
}