@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

/* Resetting default margins and paddings */
* {
    margin: 0px;
    padding: 0px;
}

/* Styling for the background */
body {
    background-image: url(./../assets/final\ page.jpg);
    background-size: 100% 100vh;
    background-repeat: no-repeat;
}

/* Styling for buttons */
button {
    width: 182px;
    height: 59px;
    margin-top: 250px;
    background: rgba(255, 0, 0, 0);
    border-radius: 20px;
    border: none;
    color: white;
    font-size: 25px;
    font-family: 'Anton', sans-serif;
    -webkit-text-stroke: 0.5px rgb(162, 160, 160);
}

/* Styling for button hover effect */
button:hover {
    transform: scale3d(1.1, 1.1, 1.1);
    background-color: red;
    box-shadow: 2px 6px 5px 0px black;
}

/* Styling for button container */
.buttons {
    width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: 350px;
    left: 370px;
}

/* Styling for a container */
#container {
    position: absolute;
    width: 920px;
    height: 148px;
    left: 310px;
    top: 150px;
    background: rgba(217, 217, 217, 0.86);
    filter: blur(8px);
    border-radius: 45px;
}

/* Styling for the congratulatory message */
p {
    font-size: 50px;
    font-family: 'Aladin', sans-serif;
    position: relative;
    left: 360px;
    width: 800px;
    text-align: center;
    top: 170px;
}

/* Styling for the credits */
#king {
    text-align: center;
    font-size: 20px;
    color: white;
    margin-top: 430px;
    text-decoration: none;
}

/* Styling for the name span */
#name:hover {
    transform: scale3d(1.1);
    color: red;
    transition: all 2s ease;
    font-size: 30px;
}   
a{
    text-decoration: none;
    color: rgb(255, 208, 0);
}
@media screen and (max-width: 900px) {
    p{
        font-size: 30px;
        margin-top: -100px;
        margin-left: -350px;
        width: 700px;
    }
    #pagain,#exit{
        font-size: 12px;
        top: 0px;
        position: absolute;
        top: 0px;
        background-color: red; /* Change background color */
        box-shadow : 2px 6px 5px 0px black; /* Add a shadow effect */
        height: 30px; 
        width: 75px;
    }
    #pagain{
        margin-left: -120px;
        margin-top: -100px;
    }
    #exit{
        margin-left: 100px;
        margin-top: -100px;
    }
    #container{
        margin-top: -100px;
        margin-left: -300px;
        width: 700px;
        height: 70px;
    }
    #king{
        font-size: 12px;
        margin-top: 230px;
        
    }
    .buttons{
        width: 0px;
    }
    
}